## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("vacation_search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,80.64,light rain,-23.1203,-134.9692,People ThankYou
1,6,Hermanus,ZA,70.81,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,9,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
3,10,Sawtell,AU,79.18,broken clouds,-30.3833,153.1000,The Bungalow Sawtell
4,11,Port Alfred,ZA,70.61,light rain,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...,...
238,677,Digha,IN,84.52,broken clouds,21.6833,87.5500,Khoniker Atithi
239,692,Saint-Joseph,RE,76.10,light rain,-21.3667,55.6167,"""Plantation Bed and Breakfast"
240,694,Elizabeth City,US,71.62,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
241,697,Barra Patuca,HN,78.76,overcast clouds,15.8000,-84.2833,NaN
242,698,Mitsamiouli,KM,80.89,light rain,-11.3847,43.2844,Foyer ADM

In [56]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [57]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Jacksonville Beach"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Jacksonville Beach"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Elizabeth City"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Cabo San Lucas"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Ixtapa"]

In [58]:

tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])

(30.2947, -81.3931)

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])

stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])


stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [60]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints= [stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3, vacation_end], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,472,Jacksonville Beach,US,72.07,thunderstorm,30.2947,-81.3931,Courtyard by Marriott Jacksonville Beach Ocean...
1,694,Elizabeth City,US,71.62,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
2,221,Cabo San Lucas,MX,74.52,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
3,509,Ixtapa,MX,70.23,overcast clouds,20.7000,-105.2000,hotel la terminal
4,472,Jacksonville Beach,US,72.07,thunderstorm,30.2947,-81.3931,Courtyard by Marriott Jacksonville Beach Ocean...

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>

<dt><b>Current Wather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
hotel_info

['\n<dl>\n<dt><b>Hotel Name</b></dt><dd>Courtyard by Marriott Jacksonville Beach Oceanfront</dd>\n<dt><b>City</b></dt><dd>Jacksonville Beach</dd>\n<dt><b>Country</b></dt><dd>US</dd>\n\n<dt><b>Current Wather</b></dt><dd>thunderstorm and 72.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt><b>Hotel Name</b></dt><dd>Hampton Inn Elizabeth City</dd>\n<dt><b>City</b></dt><dd>Elizabeth City</dd>\n<dt><b>Country</b></dt><dd>US</dd>\n\n<dt><b>Current Wather</b></dt><dd>clear sky and 71.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt><b>Hotel Name</b></dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt><b>City</b></dt><dd>Cabo San Lucas</dd>\n<dt><b>Country</b></dt><dd>MX</dd>\n\n<dt><b>Current Wather</b></dt><dd>broken clouds and 74.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt><b>Hotel Name</b></dt><dd>hotel la terminal</dd>\n<dt><b>City</b></dt><dd>Ixtapa</dd>\n<dt><b>Country</b></dt><dd>MX</dd>\n\n<dt><b>Current Wather</b></dt><dd>overcast clouds and 70.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt><b>Hotel Name</b></dt><dd>Courtyard by Marriott Jacksonville Beach Oceanfront</dd>\n<dt><b>City</b></dt><dd>Jacksonville Beach</dd>\n<dt><b>Country</b></dt><dd>US</dd>\n\n<dt><b>Current Wather</b></dt><dd>thunderstorm and 72.07 °F</dd>\n</dl>\n']

In [63]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))